/* Se usa para ajustar el tamaños de los elementos multimedia al 100% de su contenedor */
img,
embed,
object,
video {
  max-width: 100%;
  height: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 10px;
}

/* Header */
header {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

header h1 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #333;
  text-align: center;
}

header p {
  font-size: 1rem;
  font-weight: 400;
  color: #333;
  text-align: center;
}

/* Flexbox container */
.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
}

.box {
  max-width: 100%;
  margin: 0.5em;
  padding: 0.5em;
  background-color: #f2f2f2;
}

/* Article */
article {
  border-bottom: 1px solid #eee;
  border-radius: 0.5em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  color: #333;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}

article h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5em;
}

article img {
  height: auto;
  max-width: 100%;
  margin-bottom: 0.5em;
}

article p {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.5em;
}

article span {
  color: inherit;
  font-size: inherit;
  font-weight: bold;
}

article a {
  color: inherit;
  font-size: inherit;
  font-weight: bold;
  margin-bottom: 0.5em;
}

/* Button */
.button {
  background-color: #333;
  border-radius: 0.5em;
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  background-color: #555;
  color: #fff;
}

.button:active {
  transform: translateY(3px);
}
